.list{
    padding: 20px 30px;
}
.form-section{
    margin: 0px 15px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    border: 1px dashed #AEAEAE;
    background: #EBE9EA;
    margin-bottom: 10px;
    color: grey;
    opacity: 0.5;
    transition: all 0.5s ease-in;
    input{
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #AEAEAE;
        &:focus{
            outline: 0px;
            border-bottom: 2px solid #F48B8B;
        }
    }
    .submit-inline-box{
        position: absolute;
        bottom: 12px;
        right: 10px;
        padding: 0px 0px 2px 5px;
        background: #EBE9EA;
    }
    .button-input-inline{
        border: 1px solid #AEAEAE;
        padding: 2px 10px;
        background: #D3D1D2;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
        &:hover{background: #E4E2E2;}
        &:focus{outline: 0px;}
    }
    &.active{
        opacity: 1;
    }
}

.userItem{
    padding: 10px;
    .avatar{
        height: 50px;
        width: 50px;
        cursor: pointer;
        border-radius: 50%;
    }
    .username{
        cursor: pointer;
        font-size: 16px;
        margin-left: 5px;
    }
}

.sectionItem{
    background: #5E5B5B;
    margin: 0px 0px 1px;
    border-radius: 5px;
    .section-header{
        color: #242424;
        position: relative;
        padding: 10px 10px 9px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        p{margin: auto;}
        .index{
            margin: -10px 10px -9px -10px;
            border: none;
            border-right: 1px solid #404040;
            padding: 12px 10px;
            background: #F25252;
            color: white;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 17px;
            cursor: pointer;
            height: 100%;
            &:focus{outline: 0}
        }
        .option{
            margin-left: 10px;
            font-size: 14px;
            color: #484747;
            cursor: pointer;
            line-height: 25px;
            &:hover{
                color: #302F2F;
            }
        }
        .counter{
            font-size: 14px;
            line-height: 25px;
            margin-right: 5px;
        }
        .section-button{
            margin-left: 5px;
            font-size: 14px;
            background: #BFBDBD;
            border-radius: 10px;
            line-height: 25px;
            padding: 0px 10px;
            cursor: pointer;
            i{ font-size: 12px}
            &:hover{
                background: #DFDDDD;
            }
        }
    }
    .section-tracks{
        background: #BFBDBD;
    }
    &.active{
        padding-bottom: 10px;
        .section-header{
            border-radius: 0px;
            border-bottom: 1px solid #724949;
            .index{
                border-bottom-left-radius: 0px;
            }
        }
    }

}

.sectionItem-vertical{
    @extend .sectionItem;
    display: none;
    background: #494949;
    margin: 0px 0px 5px;
    border-radius: 5px;
    padding-bottom: 0px;
    .section-header{
        color: #848484;
        padding-bottom: 0px;
        .header-indicators{
            padding: 15px 15px;
        }
        .counter{
            margin-top: -10px;
        }
        .option{
            margin-top: -10px;
            font-size: 16px;
            color: #3C3B3B;
            &:hover{
                color: #B8B6B6;
            }
        }
        .lesson-icon{
            margin-left: 15px;
            padding: 10px 15px;
            border-radius: 50%;
            font-size: 20px;
            border: 2px solid #F25252;
            color: #F25252;
        }
        p{margin-bottom: 10px;}

        .index{
            font-size: 14px;
            background: none;
            color: inherit;
            padding: 0px;
            margin: auto;
            border: none;
        }
        .title{
            color: #CBCACA;
        }
        .section-button{
            background: #3C3B3B;
            padding: 5px 10px;
            &:hover{
                background: #302F2F;
            }
        }
        .show-tracks{
            border: none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 2px 51px;
            background: #302F2F;
            &:focus, {outline: 0px;}
        }
    }
    &.active{
        padding-bottom: 10px;
    }
}

.trackItem{
    color: #434442;
    padding: 0px 10px 0px 0px;
    height: 40px;
    background: #FAFBEA;
    border-bottom: 1px solid #B7B7A7;
    cursor: pointer;
    &:hover{
        background: #CCCDBB;
    }
    .display{
        position: absolute;
        top: 0;
        height: 100%;
        width: 40px;
        background: rgba(2, 0, 4, 0.8);;
        color: #F7F7F7;
        i{
            margin: 10px 15px;
        }
    }
    .info{
        line-height: 40px;
        padding-left: 50px;
    }
    .counter{
        font-size: 12px;
        margin-top: 10px;
        margin-left: 5px;
    }
}

@media (max-width: 450px){
    #lesson-banner{
        .banner-info{
            .creator-box{
                display: block;
                span{display: block;}
            }
            .counters-box{display: block;}
        }
    }
}

@media (max-width: 1100px){
    .sectionItem{
        display: none;
    }
    .sectionItem-vertical{
        display: block;
    }
}

.page-banner-lesson{
    .banner-header{
        button{
            border: none;
            background: #F25252;
            color: white;
            font-size: 14px;
            height: 33px;
            width: 33px;
            border-radius: 50%;
            &:focus{outline: 0px;}
        }
    }
    .description-wrapper{
        position: relative;
        padding-bottom: 50px !important;
        img{height: 80px;
            margin-right: 20px;}
        .description {
            flex: 1;
            max-height: 90px;
            overflow-y: scroll;
        }
    }
    .banner-tags{
       background: #2B2A2A;
        p{color: #CECECE;}
    }

}