.smart-search-box-wrapper{
  padding: 30px 15px 20px;
  position: relative;
  .assisted-search{
    padding: 5px 10px;
    font-size: 16px;
    color: grey;
    background: #F5F4F4;
    border-radius: 10px;
    margin-top: 10px;
    span{
      font-size: 14px;
      background: #C6C5C5;
      border-radius: 2px;
      padding: 2px 5px;
      color: #565555;
    }
    strong{font-weight: normal;}
    h4{color: #565555;}
  }
  .helper-search{
    position: absolute;
    padding: 15px 10px;
    top: 60px;
    left: 15px;
    color: grey;
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    p{
      color: #5F6160;
      font-size: 16px;
    }
    ul{
      list-style: none;
      padding: 0px 10px;
      li{
        margin:5px 0px;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
          background: #EEF0EF;
          i{
            color: #575757;
          }
        }
      }
    }
    i{vertical-align: middle;}
    span{
      background: #5F6160;
      border-radius: 10px;
      padding: 1px 7px;
      color: white;
      font-weight: 100;
    }
  }
  .search-box{
    border: 1px solid #C7C7C7;
    display: flex;
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    color: #666666;
    .search-icon{
      line-height: 25px;
    }
    #input-search{
      margin: 0px 10px;
      flex: 1;
      display: inline-block;
      background: transparent;
      font-size: 16px;
      height: 25px;
      padding: 2px 0px 0px;
      overflow: hidden;
      white-space: nowrap;
      &:focus{outline: 0px;}
    }
    input{
      margin: 0px 10px;
      flex: 1;
      border: none;
      background: transparent;
      font-size: 16px;
    }
    button{
      border: none;
      background: #ACACAC;
      border-radius: 10px;
      padding: 0px 12px;
      color: #555555;
      &:focus{
        outline: 0px;
      }
      &:hover{background: #C4C2C2;}
    }
  }
}

