<template name="channels">
	<div class="pageContainer container-fluid">
		<div class="page-title row container-fluid">
  			<div class="col-lg-6">
    			<div class="title-col">
  					<h2 class="title">Channels
  					{{#if currentUser}}
  						<a href="{{pathFor 'postSubmit'}}" type="buton" class="pull-right" role="button"><span class="btn btn-danger btn-sm">add</span></a>
  					{{/if}}
  					</h2>
				</div>
  			</div><!-- /.col-lg-6 -->
  			<div class="col-lg-6">
  				<div class="box-search">
    			<div class="input-group ">
    				<span class="input-group-btn">
        				<a id="search" type="button" role="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
      				</span>
      				<input type="text" class="form-control" placeholder="Search for...">
   				</div><!-- /input-group -->
   				</div>
  			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		<div id="channels-list">
			{{#each channels}}
				{{>channel}}
			{{/each}}
		</div>
	</div>
</template>

<template name="channel">
	<div class="channel-entry container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<img style="margin-left: -0.5em" src="/channel-icon-entry.png"/>
			</div>
			<div class="col-lg-7">
				<h4>{{title}}</h4>
				<p><strong>author: </strong><span>{{author}}</span></p>
				<p><strong>channel: </strong><span>{{author}}</span></p>
			</div>
			<div class="col-lg-3">
				<p>
					<span id="records-count" class="count glyphicon glyphicon-list pull-right" style="margin-top: 7em"
					>0</span>
					<span id="votes-count" class="count glyphicon glyphicon-heart pull-right" style="margin-top: 7em">0</span>
					<span id="comments-count" class="count glyphicon glyphicon-comment pull-right" style="margin-top: 7em">0</span>
				</p>
			</div>
		</div>
	</div>
</template>