<template name="forgotPasswordForm">
<form>
  <div class="form-group">
  	<label for="usename">User Name</label>
    <input name="username" type="text" class="form-control" id="username" placeholder="Enter your User Name">
  </div>
  <div class="form-group">
  	<label for="email">Recuperation Email Address</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="Enter your Email">
  </div>
  
  <div style="text-align: center; margin-top: 1em">
  	<input value="Send" type="submit" class="btn btn-danger"/>
  </div>
  <a href="" id="back">Sign In</a>
 </form>
</template>