<template name="postSubmit">
	<div id="pageContent" class="container-fluid">
		<div id="editor-panel">
			<div id="editor-container" class="well container-fluid">
				<a id="config-editor-button" type="button" class="btn btn-warning btn-sm pull-right" role="button">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
				<div>
					<div id="editor" class="container-fluid"></div>
				</div>
				
				<div id="config-record-menu">
					<a id="multmedia-config" type="button" class="btn btn-default  btn-sm" role="button">
						<span class="glyphicon glyphicon-facetime-video"></span>
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<a id="record-button" type="button" class="btn btn-lg btn-danger" role="button">
						Start Recording
					</a>
						
						
					<a id="help-button" type="button" class="btn btn-info btn-sm pull-right" role="button">
						<span class="glyphicon glyphicon-question-sign"></span>
					</a>
				</div>
			</div>
				
		</div>
		<div>
			<div id="editor2" class="container-fluid"></div>
		</div>
	</div>
</template>

