<template name="sidebar">
    <div class="col-sm-3 col-md-2 sidebar">
      <p class = "section-title"><a href="">CHANNELS</a></p>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">#Overview</a></li>
        <li><a href="#">#Reports</a></li>
        
      </ul>
      <p class = "section-title"><a href="">TEAMS</a></p>
      <ul class="nav nav-sidebar">
        <li><a href="">@Nav item</a></li>
        <li><a href="">@Nav item again</a></li>
        <li><a href="">@One more nav</a></li>
      </ul>
      <div id="box-user">
        <img id="userImage" src="usericon.png"/>
        <p>username</p>
        <a href="" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span></a>
      </div>
    </div>
</template>