#main-wrapper{
  padding-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: #F0EFEF;
}

#page-wrapper{
  padding-left: 240px;
  width: 100%;
  height: 100%;
  top:0;
  transition: all 0.5s ease;
}

@media (max-width: 600px){
  #page-wrapper{
    padding-left: 0px;
    transition: all 0.5s ease;
  }
}