<template name="layout">
    <!--<div id="notifications">
      	<div class="notification container-fluid">
        	<div class="content-notification container-fluid">
        		<div class="row">
        		<div class="col-md-3">
        			<div class="logo navbar-brand">
        				<img src="/duck_icon.ico"/>
        			</div>
        		</div>
        		<div class="col-md-7" style="padding: 0; margin-left: 0.8em">
          			<p> Esta es un notificacion blañ daflk sdfjñ </p>
          		</div>
          		<div class="col-md-1">
          			<p><span id="close-not" class="glyphicon glyphicon-remove pull-right"></span></p>
          		</div>
          		</div>
        	</div>
      	</div>
     </div>-->
    <div id="main-wrapper">
        {{#if currentUser}}
            {{> sidebar }}
            <div id="page-wrapper">
                {{> header}}
                {{> yield }}
            </div>
            <!--{{> messagesNotifications}}-->
        {{else}}
            {{> yield}}
            {{> loginModal }}
        {{/if}}
    </div>
</template>