.header-profile{
  background: #F25252;
  position: absolute;
  padding: 10px;
  width: 33px;
  height: 34px;
  right: 15px;
  color: white;
  i{cursor: pointer;}
}

.content-profile-wrapper{
  margin-top: 20px;
  padding: 0px 30px;
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-size: 16px;
  min-width: 800px;
}