/* CSS declarations go here */

/*
 * Sidebar
 */
html,body{
  width:100%;
  height:100%;

}
/* Hide for mobile, show later */
.sidebar {
  display: none;
  width: 13em;
}
.sidebar {
    position: fixed;
    top: 0em;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 32px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #433649;
    box-shadow: 0px 4px 5px black;
    
  }

/* Sidebar navigation */
.nav-sidebar {
  overflow-y: auto;
  width: 12em;
  margin-right: 1em;
  height: 9em;
  margin-right: -1.5em; /* 20px padding + 1px border */
  margin-bottom: 0em;
  margin-left: -1.5em;
}
.nav-sidebar > li{
	border-radius: 0 1.5em 1.5em 0;
}
.nav-sidebar > li > a {
  color: grey;
  margin-top: 0.2em;
  padding-right: 15px;
  padding-left: 20px;
  border-radius: 0 1.5em 1.5em 0;
}

.nav-sidebar > li> a:hover{
  color: #fff;
  background-color: #2A152E;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;

  border: 2px solid white;
  border-left: none;
  background-color: rgba(63, 139, 115, 0.8);
}

.section-title{
  margin-top: 3em;
	padding-top: 0.2em;
	padding-left: 1em;
	padding-bottom: 0.2em;
	width: 12.5em;
	margin-left: -1.5em;
	border-radius: 0 0.5em 0.5em 0;
	background-color: #B03A27;

}

.section-title > a{
	color: #BAB2AF;
	padding-right: 6em;
	text-decoration: none;
}

.section-title> a:hover{
	color: white;
	
}
/*#f5f5f5*/
#pageContent{

  height:100%;
	margin-top: 0em;
  margin-left: 13em;
	background-color: rgba(32, 32, 34, 1);
}

body{
	background-color: #f5f5f5;
}

#logo >img{
	padding: -0.2em;
	margin-top: -0.9em;
	margin-left: -0.6em;
	border-radius: 2em;
	background-color: #B3C8CC;
}

#siteTittle{
	border-right: 1px solid grey;
	padding-right: 1.5em;
}

#editor {
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        margin-top: 3em;
        position: absolute;
        width: 55em;
        margin-left: -1.5em;
        height: 36em;

}
#editor-container{
  width: 47.5em;
  margin-top: 5em;
  margin-left: 2.5em;
  height: 39.5em;
  margin-bottom: 1.5em;
  background-color: #38373C;

}

#record-button{
  margin-left: 10em;
}

@media only screen and (max-width: 1000px) {
  #editor{
    width: 40em;
  }
  #editor-container{
    width: 34.6em;
  }
  #record-button{
    margin-left: 5em;
  }
  .popover {
    margin-left: -5em;
  }
}

#menu-config-record{
  margin-left: -5em;
}

.sidebar-nav-fixed> .well{
  width: 13em;
  height: 45em;
  background-color: #3F8B73;
}

#config-editor-button{
  margin-top: -0.5em;
}

#config-record-menu{
  margin-top: 34.2em;
}

#modes:hover,
#themes:hover{
  background-color: #3F8B73;
}


.selected-green{
  background-color: #3F8B73;
}

#wellcome{

  background-image: url("wellcomeImg.png");
  height: 21.5em;
  margin-top: 3.6em;
  box-shadow: 0px 3px 5px black;
}

#main-content{
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: white;
  z-index: -1;
  box-shadow: 0px 0px 5px black;
}

.navbar-inverse{
  opacity: 0.;
}

#footer{
  height: 7em;
}

#sign-entry{
  text-align: center;
}

#enterButton{
  padding-right: 1em;
  padding-left: 1em;
  box-shadow: 0px 3px 5px black;
}


#sign-msg{
  margin-bottom: 0em;
  font-family: Courier, monospace;
  font-size: 2em;
}

.thumbnail > img{
  border-radius: 10em;
  background-color: #8fd696;
  box-shadow: 0px 5px 5px grey;
}

.thumbnail{
  border: none;
  margin-left: 0em;
  margin-right: 0em;
}