/* CSS declarations go here */

/*
 * Sidebar
 */

.pac-container {
  z-index: 2 !important;
}
/* Hide for mobile, show later */


.sidebarNotifications{
  position: fixed;
  top: 3.6em;
  bottom: 0;
  right: -20em;
  z-index: 1000;
  display: block;
  padding: 0;
  padding-top: 1em;
  height: 100%;
  width: 20em;
  transition:right 0.3s;
  background-color: rgba(32, 32, 34, 0.98);
  border-left: 1px solid #171616;
}

.footer-sidebarNot{
  border-top: 1px solid #414040;
  padding-top: 0.5em;
  text-align: center;
  bottom:0;
  width: 20em;
  height: 6em;
  background-color: rgba(32, 32, 34, 1);
  position: absolute;
}

.selectContent{
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #414040;
  background-color: rgba(32, 32, 34, 1);
}

.selectContent .notif{
  margin-left: -0.3em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.selectContent .upload{
  margin-left: 0.3em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.selectContent .select{
  display: inline-block;
  width: 9em;
  text-align: center;
  background-color: grey;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-top: 0.2em;
  cursor: pointer;
}

.selectContent p{
  line-height: 0.5em;
  margin-left: -0.1em;
}

.selectContent .active{
  background-color: rgba(208, 206, 213, 0.8);
  border-left: 1px solid grey;
}

.content-sidebarNot{
  height: 82%;
}

.slide{
  right: 0;
}


/*#f5f5f5*/
#pageContent{
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
	margin-top: 0em;
}

body{
 background-color: rgba(208, 206, 213, 0.8);
	
}

.logo >img{
	padding: -0.2em;
  margin-top: -0.8em;
	margin-left: -0.6em;
	border-radius: 2em;
	background-color: #E2F9FD;
}

#siteTittle{
  margin-left: -0.8em;
	padding-right: 1.5em;
  font-family: impact, sans-serif;
  font-size: 1.5em;
  letter-spacing: 1pt;

}

.login-btn{
  border-radius: 2em;
  background-color: #276918;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 1em;
  height: 3em;
  margin-top: 0.2em;
}

.login-btn a {
  margin-top: -0.3em;
  font-size: 120%;
  cursor: pointer;
}

.login-btn:hover{
  background-color: #67BE2C;
}

.panel-info{
  position: absolute;
  color: white;
  opacity: 0.7;
  padding: 1em;
  border-radius: 0.4em;
  padding-left: 1.5em;
}

.main-msg{
  width: 28%;
  margin-left: 68%;
  margin-top: 8em;
  color: white;
  opacity: 0.7;
  background-color: #D44B4B;
}

.second-msg{
  width: 18%;
  margin-left: 78%;
  margin-top: 23em;
  background-color: #D0803A;
}

#main-panel { 
  margin-top: -5em;
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#main-panel > div { 
    position: absolute;
}

#main-panel > div > img {
  width: 100%;
  height: 45em;
}

.feature-logo{
  display: inline-block;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  margin-bottom: -0.7em;
  height: 8em;
}

.icon-feature{
  max-height: 6em;
  max-width: 6em;
  border-radius: 50%;
  transition: all .2s ease-in-out;

  cursor: pointer;
}

.icon-feature:hover{
  transform: scale(1.3);
}

.arrow-up-feature{
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #EBE9E9;
  margin-left: 34%;
  margin-top: 1em;
}

.arrow-up-feature .active{
  visibility: visible;
}

.feature-description-content{
  background-color: #EBE9E9;
}

.feature-description-content .nav-pag{
  width: 100%;
  text-align: center;
}

.feature-description-content .circle-nav{
  height: 1em;
  width: 1em;
  margin: 0 0.5em 0 0.5em;
  border-radius: 50%;
  display: inline-block;
  padding:0;
  background-color: #9B9B9C;
  cursor: pointer;
}

.circle-nav:hover{
  background-color: #5784CD;
}

.circle-nav:focus{
  background-color: #5784CD;
}



#editor {
        margin-top: 0em;
        position: absolute;
        width: 50.4em;
        margin-left: -1em;
        height: 33.2em;
        font-size: 13px;

}

#editor2 {
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        margin-top: 3em;
        position: absolute;
        width: 55em;
        margin-left: -1.5em;
        height: 36em;

}

#editor-container{
  width: 68em;
  margin-top: 5em;
  height: 39.5em;
  margin-bottom: 1.5em;
  background-color: #38373C;
  margin-left: 15em;
  box-shadow: 0px 10px 7px grey;

}

#record-button{
  margin-left: 2.5em;
}

@media only screen and (max-width: 1000px) {
  #editor{
    width: 40em;
  }
  #editor-container{
    width: 60em;
  }
  #record-button{
    margin-left: 5em;
  }
  .popover {
    margin-left: -5em;
  }
}

#menu-config-record{
  margin-left: -5em;
}

.sidebar-nav-fixed> .well{
  width: 13em;
  height: 45em;
  background-color: #3F8B73;
}

#config-editor-button{
  margin-top: -0.5em;
}

#config-record-menu{
  margin-top: -1em;
}

#modes:hover,
#themes:hover{
  background-color: #3F8B73;
}

#help-button{
  margin-top: 0.5em;
}

.selected-green{
  background-color: #3F8B73;
}

#wellcome{

  background-image: url("wellcomeImg.png");
  height: 21.5em;
  margin-top: 3.6em;
  box-shadow: 0px 3px 5px black;
}

#main-content{
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: white;
  z-index: -1;
  box-shadow: 0px 0px 5px black;
}

.navbar-inverse{
  z-index: 5;
}

#footer{
  height: 4em;
  background-color: #D44B4B;
  bottom: 0;
  border-top: 1px solid #D04444;
  text-align:center;
}

#footer p{
  margin-top: 1em;
}

#sign-entry{
  text-align: center;
}

#enterButton{
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 0.5em;
}


#features-header{
  font-family: Courier, monospace;
  font-size: 2em;
}

.pp > img{
  background-color: #8fd696;
}

.thumbnail > img{
  border: 2px solid white;
  border-radius: 10em;
  box-shadow: 0px 5px 5px grey;
}

.thumbnail{
  border: none;
  margin-left: 0em;
  margin-right: 0em;
}

.errormsg{
  text-align: center;
  color: #A52A2A;
  background: #E1A5A5;
  border-radius: 3px;
  padding: 5px;
  margin: auto;
  margin-top: 5px;

}


.editor-container{
  width: 47em;
  height: 30.8em;
 

}

.docs-container{
  padding-top: 1em;
  background-color: rgba(32, 32, 34, 1);
  width: 20em;
  margin-right: 0em;
  height: 30.8em;
}

.square-editor{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 2.5em;
  height: 31.1em;
  margin-bottom: 1.5em;
}

#create-doc-bar{
  padding-bottom: 0.4em;
  font-size: 1em;
}

#docs-editor{
  height: 25em;
  margin-top: 1em;
  margin-bottom: 2em;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

}

.doc-elem{
  margin-bottom: 0.2em;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding-top: 0.5em;
  padding-left: 0.5em;
  border-radius: 0.2em;
}

.doc-elem:hover{
  background-color: rgba(191, 204, 208, 0.9);
}

.doc-elem.active {
  background-color: rgba(63, 139, 115, 0.8);
}

.doc-title{
  margin-top: -0.5em;
  margin-left: 1em;
  font-size: 1.5em;
  white-space:nowrap;
  width:13em;
  overflow:hidden;
  text-overflow: ellipsis;
  cursor: auto;
}

.doc-title > img{
  cursor: none;
}

#mark{

  font-size: 1.5em;
  height: 0.2em;
  text-align: center;
  color: rgba(191, 204, 208, 0.9);
}

#options-stop{
  margin-left: 2.5em;
}

#record-progress {
  margin-left: 4.5em;
  margin-top: -0.2em;
  background-color: rgba(222, 56, 51, 1);
  width: 10em;
  padding-left: 1em;
  padding-top: 0.2em;
  border-radius: 0.4em;
}

#player{
  width: 68em;
  height: 35em;
  margin-left: 16em;
  margin-top: 5em;
  border-radius: 0.5em;
  background-color: #38373C;
  box-shadow: 0px 5px 10px #565252;
}

#editor-player{
  position: absolute;
  width: 46.7em;
  margin-left: -3em;
  height: 33.2em;
  font-size: 13px;
}

#widget-container{
  height: 14.5em;
  margin-left: 0.05em;
  width: 24.3em;
  text-align: center;
  background-color: rgba(216, 77, 50, 0.9);
  border-bottom: 1px solid red;
  box-shadow: 0 4px 5px -2px black;
}

#sc-widget{
  margin-left: -0.2em;
  width: 22.2em;
  margin-top: 1.2em;
}



#editorplayer{
  z-index: 0;
  width: 42em;
  margin-top: 2em;
  margin-left: 0.8em;
  box-shadow: 0px 5px 10px black;
}

#sc-info-container{
  z-index: -1;
  text-align: center;
  margin-top: 0.5em;
  margin-left: -2.5em;
  width: 24.4em;
  height: 30.85em;
  background-color: rgba(32, 32, 34, 1);
  border-left: 1px solid #f5f5f5;
}

.post-info{
  height: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#down-volume{
  padding-left: 0.5em;
  padding-right: 0.2em;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

#up-volume{
  margin-left: 0.1em;
}

.notPlaying{
  opacity: 0.3;
  cursor: pointer;
}

#play-button{
  z-index: 10000000;
  margin-top: 11em;
  margin-left: 15em;
  background-color: red;
}

#sound-options{
  color: white;
  width: 5em;
  margin-left: 9.5em;
  border-radius: 0.5em;
  background-color: black;
  opacity: 0.8;
}

.listCol{
  background-color: rgba(241, 236, 238, 1);
  border: 1px solid #DAD5D5;
  box-shadow: 0px 5px 5px #CBC7C7;
}

#title-post{
  margin-left: -2em;
  width: 44em;
  margin-bottom: 1em;
}
#reply-col{
  margin-left: 1.5em;
  width: 23em;
}
#post-collections{
  width: 75em;
  margin-top: 2em;
  margin-left: 16em;
  padding-bottom: 3em;
}

.title{
  margin-left: 0.5em;
  font-family: Helvetica, sans-serif;
}

.section-col-title{
  margin-top: 1em;
  font-family: Helvetica, sans-serif;
  padding-bottom: 0.5em;
}

#signInRequired{
  color: grey;
  margin-top: 0.5em;
  text-align: center;
}



.pageContainer{
  margin-top: 3em;
  margin-left: 20em;
  width: 60em;
  padding: 0em;
}

.page-title{
  padding: 0em;
  border-bottom: 1px solid #898585;
  position: fixed;
  margin-left: -7em;
  margin-top: -4em;
  padding-top: 3em;
  float: top;
  width: 100%;
  background-color: rgba(208, 206, 213, 1);
  box-shadow: 0px 5px 10px #575353;
  z-index: 1;
}

.page-title h2{
  margin-left: 1em;
}



.box-search{
  margin-top: 2.8em;
  margin-left: -1em;
  margin-right: -1em;
  width: 30em;
}

.title-col{
  margin-top: 2.9em;
  margin-left: -1.5em;
}

.record-entry, .channel-entry{
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(241, 236, 238, 1);
  box-shadow: 0px 5px 5px #CBC7C7;
  border-left: 1em solid #CD4141;
}
.channel-entry{
  border-left: 1em solid #45BF9A;
}

.record-entry .count, .channel-entry .count{
  margin-left: 0.5em;
}

.record-entry h4{
  color: #CD4141;
}
.channel-entry h4{
  color: #45BF9A;
}

.record-entry:hover, .channel-entry:hover{
  cursor: pointer;
  box-shadow: 0px 10px 5px #CBC7C7;
  margin-left: 1em;
  margin-right: -1em;
  background-color: #FAF3F3;
}


#channels-list{
  margin-top: 7em;
}

#main-img{
  width: 100%;
  margin-bottom: 0.75em;
  box-shadow: 0px 3px 5px rgb(32, 32, 34);
  margin-top: -5em;
}

#menu-features{
  margin-top: 45em;
  margin-bottom: 0.7em;
}

#notifications{
  position: fixed;
  margin-top: 4em;
  margin-left: 72%;
  z-index: 40000;
}
.notification{
  position: fixed;
  display: block;
  border-radius: 0.5em;
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0.5em;
  width: 25em;
  background-image: url('/notification.png');
  opacity: 0;
  margin-left: 100%;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(32, 32, 34);
}

.notification-in{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  margin-left: -1%;
  -webkit-animation-name: shake;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
}

.notification-out{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  margin-left: 100%;
}

.content-notification{
  padding: 0.5em;
  padding-top: 0.7em;
  background-color: white;
}


#close-not{
  color: grey;
  padding: 0;
}
#close-not:hover{
  color: black;
}

@-webkit-keyframes shake{
  0% { -webkit-transform: translate(-3px, 0) }
  10% { -webkit-transform: translate(4px, 0) }
  25% { -webkit-transform: translate(-2px, 0) }
  50% { -webkit-transform: translate(3px, 0) }
  75% { -webkit-transform: translate(-1px,0) }
  50% { -webkit-transform: translate(2px, 0) }
  
}
#icon-doc{
  position:absolute;
  padding-top: 0.3em;
  margin-top: -0.1;
  margin-left: -1.1em;
  padding-left: 1.1em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  color: white;
  border-top-left-radius: 0.4em;
  background-color: rgba(216, 77, 50, 0.9);

}
#docAct{
  position:absolute;
  background-color: black;
  height: 2.5em;
  padding-left: 0.9em;
  padding-right: 0.7em;
  margin-left: 1.4em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: white;
  margin-top: -0.5em;
}

.authorImage{
  height: 5em;
  width: 5em;
  margin-left: 1em;

}
.span-vote{
  color: grey;
  margin-right: 0.5em;
}

.span-vote:hover{
  color: #FF8484;
  cursor: pointer;
}

.post-details{
  border-top: 1px solid #DAD5D5;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 1em;
  margin-right: 1em;
}