/* CSS declarations go here */

/*
 * Sidebar
 */
html,body{
  width:100%;
  height:100%;

}
/* Hide for mobile, show later */
.sidebar {
  display: none;
  width: 13em;
}
.sidebar {
    position: fixed;
    top: 0em;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 32px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #433649;
    box-shadow: 0px 4px 5px black;
    padding-bottom: 0em;
    height: 100%;
  }

/* Sidebar navigation */
.nav-sidebar {
  overflow-y: auto;
  width: 12em;
  margin-right: 1em;
  height: 9em;
  margin-right: -1.5em; /* 20px padding + 1px border */
  margin-bottom: 0em;
  margin-left: -1.5em;
}
.nav-sidebar > li{
	border-radius: 0 1.5em 1.5em 0;
}
.nav-sidebar > li > a {
  color: grey;
  margin-top: 0.2em;
  padding-right: 15px;
  padding-left: 20px;
  border-radius: 0 1.5em 1.5em 0;
}

.nav-sidebar > li> a:hover{
  color: #fff;
  background-color: #2A152E;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;

  border: 2px solid white;
  border-left: none;
  background-color: rgba(63, 139, 115, 0.8);
}

.section-title{
  margin-top: 3em;
	padding-top: 0.2em;
	padding-left: 1em;
	padding-bottom: 0.2em;
	width: 12.5em;
	margin-left: -1.5em;
	border-radius: 0 0.5em 0.5em 0;
	background-color: #B03A27;

}

.section-title > a{
	color: #BAB2AF;
	padding-right: 6em;
	text-decoration: none;
}

.section-title> a:hover{
	color: white;
	
}
/*#f5f5f5*/
#pageContent{
  background-color: rgba(32, 32, 34, 1);
  height:100%;
	margin-top: 0em;
  margin-left: 13em;
}

body{
 background-color: rgba(208, 206, 213, 0.8);
	
}

#logo >img{
	padding: -0.2em;
	margin-top: -0.9em;
	margin-left: -0.6em;
	border-radius: 2em;
	background-color: #B3C8CC;
}

#siteTittle{
	border-right: 1px solid grey;
	padding-right: 1.5em;
}

#editor {
        margin-top: 0em;
        position: absolute;
        width: 50.4em;
        margin-left: -1em;
        height: 33.2em;
        font-size: 13px;

}

#editor2 {
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        margin-top: 3em;
        position: absolute;
        width: 55em;
        margin-left: -1.5em;
        height: 36em;

}

#editor-container{
  width: 68em;
  margin-top: 5em;
  height: 39.5em;
  margin-bottom: 1.5em;
  background-color: #38373C;
  margin-left: 15em;
  box-shadow: 0px 10px 7px grey;

}

#record-button{
  margin-left: 2.5em;
}

@media only screen and (max-width: 1000px) {
  #editor{
    width: 40em;
  }
  #editor-container{
    width: 60em;
  }
  #record-button{
    margin-left: 5em;
  }
  .popover {
    margin-left: -5em;
  }
}

#menu-config-record{
  margin-left: -5em;
}

.sidebar-nav-fixed> .well{
  width: 13em;
  height: 45em;
  background-color: #3F8B73;
}

#config-editor-button{
  margin-top: -0.5em;
}

#config-record-menu{
  margin-top: -1em;
}

#modes:hover,
#themes:hover{
  background-color: #3F8B73;
}

#help-button{
  margin-top: 0.5em;
}

.selected-green{
  background-color: #3F8B73;
}

#wellcome{

  background-image: url("wellcomeImg.png");
  height: 21.5em;
  margin-top: 3.6em;
  box-shadow: 0px 3px 5px black;
}

#main-content{
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: white;
  z-index: -1;
  box-shadow: 0px 0px 5px black;
}

.navbar-inverse{
  opacity: 0.8;
}

#footer{
  height: 7em;
}

#sign-entry{
  text-align: center;
}

#enterButton{
  padding-right: 1em;
  padding-left: 1em;
  box-shadow: 0px 3px 5px black;
}


#sign-msg{
  margin-bottom: 0em;
  font-family: Courier, monospace;
  font-size: 2em;
}
.pp > img{
  background-color: #8fd696;
}

.thumbnail > img{
  border: 2px solid white;
  border-radius: 10em;
  box-shadow: 0px 5px 5px grey;
}

.thumbnail{
  border: none;
  margin-left: 0em;
  margin-right: 0em;
}

.errormsg{
  text-align: center;
  color: #A52A2A;
}


.editor-container{
  width: 47em;
  height: 30.8em;
 

}

.docs-container{
  padding-top: 1em;
  background-color: rgba(32, 32, 34, 1);
  width: 20em;
  margin-right: 0em;
  height: 30.8em;
}

.square-editor{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 2.5em;
  height: 31.1em;
  margin-bottom: 1.5em;
}

#create-doc-bar{
  padding-bottom: 0.4em;
  font-size: 1em;
}

#docs-editor{
  height: 25em;
  margin-top: 1em;
  margin-bottom: 2em;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

}

.doc-elem{
  margin-bottom: 0.2em;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding-top: 0.5em;
  padding-left: 0.5em;
  border-radius: 0.2em;
}

.doc-elem:hover{
  background-color: rgba(191, 204, 208, 0.9);
}

.doc-elem.active {
  background-color: rgba(63, 139, 115, 0.8);
}

.doc-title{
  margin-top: -0.5em;
  margin-left: 1em;
  font-size: 1.5em;
  white-space:nowrap;
  width:13em;
  overflow:hidden;
  text-overflow: ellipsis;
  cursor: auto;
}

.doc-title > img{
  cursor: none;
}

#mark{

  font-size: 1.5em;
  height: 0.2em;
  text-align: center;
  color: rgba(191, 204, 208, 0.9);
}

#options-stop{
  margin-left: 2.5em;
}

#timer{
  border-left: 1px solid white;
  padding-top: -0.5em;
  margin-left: 0.5em;
  padding-left: 1.3em;
  font-size: 1em;
  color: white;
}

#record-progress {
  margin-left: 4.5em;
  margin-top: -0.2em;
  background-color: rgba(222, 56, 51, 1);
  width: 10em;
  padding-left: 1em;
  padding-top: 0.2em;
  border-radius: 0.4em;
}

#stop-button{
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

#player{
  width: 68em;
  height: 35em;
  margin-left: 16em;
  margin-top: 5em;
  border-radius: 0.5em;
  background-color: #38373C;
  box-shadow: 0px 5px 10px #565252;
}

#editor-player{
  position: absolute;
  width: 46.7em;
  margin-left: -3em;
  height: 33.2em;
  font-size: 13px;
}

#widget-container{
  height: 14.5em;
  margin-left: 0.05em;
  width: 24.3em;
  text-align: center;
  background-color: rgba(216, 77, 50, 0.9);
  border-bottom: 1px solid red;
  box-shadow: 0 4px 5px -2px black;
}

#sc-widget{
  margin-left: -0.2em;
  width: 22.2em;
  margin-top: 1.2em;
}



#editorplayer{
  z-index: 0;
  width: 42em;
  margin-top: 2em;
  margin-left: 0.8em;
  box-shadow: 0px 5px 10px black;
}

#sc-info-container{
  text-align: center;
  margin-top: 0.5em;
  margin-left: -2.5em;
  width: 24.4em;
  height: 30.85em;
  background-color: rgba(32, 32, 34, 1);
  border-left: 1px solid #f5f5f5;
}

.post-info{
  height: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#down-volume{
  padding-left: 0.5em;
  padding-right: 0.2em;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

#up-volume{
  margin-left: 0.1em;
}

.notPlaying{
  opacity: 0.3;
  cursor: pointer;
}

#play-button{
  z-index: 10000000;
  margin-top: 11em;
  margin-left: 15em;
  background-color: red;
}

#sound-options{
  color: white;
  width: 5em;
  margin-left: 9.5em;
  border-radius: 0.5em;
  background-color: black;
  opacity: 0.8;
}

.listCol{
  background-color: rgba(241, 236, 238, 1);
  border: 1px solid #DAD5D5;
  box-shadow: 0px 5px 5px #CBC7C7;
}
#comments-col{
  width: 44em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: -2em;
}
#title-post{
  margin-left: -2em;
  width: 44em;
  height: 10em;
  margin-bottom: 1em;
}
#reply-col{
  margin-left: 1.5em;
  width: 23em;
}
#post-collections{
  width: 75em;
  margin-top: 2em;
  margin-left: 16em;
  padding-bottom: 3em;
}

.title{
  margin-left: 0.5em;
  font-family: Helvetica, sans-serif;
}

.section-col-title{
  margin-top: 1em;
  font-family: Helvetica, sans-serif;
  padding-bottom: 0.5em;
}

#input-comment{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

#signInRequired{
  color: grey;
  margin-top: 0.5em;
  text-align: center;
}

#box-user{
  border-top: 1px solid black;
  padding-top: 0.5em;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 0em;
  margin-left: -2.5em;
  width: 14.2em;
  height: 9em;
  background-color: rgba(32, 32, 34, 1);
  position: absolute;
}
#userImage{
  border-radius: 3em;
  height: 4em;
  border: 5px solid black;
}

.pageContainer{
  margin-top: 3em;
  margin-left: 20em;
  width: 60em;
  padding: 0em;
}

.page-title{
  padding: 0em;
  border-bottom: 1px solid #898585;
  position: fixed;
  margin-left: -7em;
  margin-top: -4em;
  padding-top: 3em;
  float: top;
  width: 100%;
  background-color: rgba(208, 206, 213, 1);
  box-shadow: 0px 5px 10px #575353;
  z-index: 100;
}

.page-title h2{
  margin-left: 1em;
}



.box-search{
  margin-top: 2.8em;
  margin-left: -1em;
  margin-right: -1em;
  width: 30em;
}

.title-col{
  margin-top: 2.9em;
  margin-left: -1.5em;
}

.record-entry, .channel-entry{
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(241, 236, 238, 1);
  box-shadow: 0px 5px 5px #CBC7C7;
  border-left: 1em solid #CD4141;
}
.channel-entry{
  border-left: 1em solid #45BF9A;
}

.record-entry .count, .channel-entry .count{
  margin-left: 0.5em;
}

.record-entry h4{
  color: #CD4141;
}
.channel-entry h4{
  color: #45BF9A;
}

.record-entry:hover, .channel-entry:hover{
  cursor: pointer;
  box-shadow: 0px 10px 5px #CBC7C7;
  margin-left: 1em;
  margin-right: -1em;
  background-color: #FAF3F3;
}

#records-list{
  margin-top: 7em;
}

#channels-list{
  margin-top: 7em;
}