.player-wrapper{
  .container-fluid{padding: 0px};
  .row{margin: 0px;}
  [class^=col]{padding: 0px;}
  font-family: roboto, sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0px 15px;
  box-shadow: 0px 2px 10px grey;
  .header-player{
    color: #F0EFEF;
    padding: 0px;
    border-bottom: 2px solid #F25252;
    .title{
      margin: 0px;
      padding: 10px 15px;
      background: #DC4747;
      color: #493030;
      font-size: 20px;
      border-bottom: 2px solid #513030;
    }
    .description{
      span{font-size: 16px;}
      position: relative;
      padding: 10px 15px 40px;
      background: #393939;
      .banner-tags{
        padding-bottom: 10px;
        p{
          font-size: 16px;
          margin: auto;
        }
        ul{
          padding: 0px;
          list-style: none;
          margin: auto;
          .tag{
            color: #3B3B3B;
            display: inline-block;
            padding: 2px 5px;
            margin: 5px 0px;
            background: #AEAEAE;
            border-radius: 5px;
            font-size: 12px;
          }
        }
      }

      .browse-button{
        background: rgba(0,0,0,0.3);
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
          background: rgba(0,0,0,0.5);
        }
      }
      .doc-actual-info{
        border-top-right-radius: 20px;
        border-top-left-radius:5px;
        height: 40px;
        font-size: 15px;
        position: absolute;
        bottom: 0px;
        background: #F25252;
        padding: 10px 20px 10px 15px;
        span{
          font-size: 12px;
          padding: 2px 10px;
          border-radius: 10px;
          background: #C9C8C8;
          color: #666565;
        }
      }
      .like-action{
        position: absolute;
        bottom: 5px;
        right: 10px;
        button{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: rgba(0,0,0,0.5);
          border: none;
          &:focus{outline: 0px;}
        }
        #show-play-list{
          &.active{
            background: #F25252;
          }
        }
      }
    }
  }

  .banner-navbar{
    background: #2B2B2B;
    color: #CECDCD;
    font-size: 14px;
    height: 40px;
  }
  .banner-navbar-vertical{
    background: #2B2B2B;
    color: #CECDCD;
  }
  .creator-box{
    border-left: 1px solid #515050;
    background: #4B3B4A;
    font-size: 16px;
    font-weight: 400;
    top: 0;
    color: #232223;
    padding: 20px 5px;
    img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
    .username{
      color: #DEDCDE;
      cursor: pointer;
    }
    .date{
      font-size: 13px;
      margin: 0px 10px;
      display: inline-block;
    }
    .info{
      display: inline-block;
      span{
        display: inline-block;
        font-size: 13px;
      }
    }
  }
  .box-options{
    border-top: 2px solid #B84646;
    width: 100%;
    background: #1B1B1B;
    color: #9C9A9A;
    button{
      border: none;
      background: #373636;
      border-radius: 30px;
      padding: 2px 3px 2px 10px;
      font-size: 14px;
      i{
        background: black;
        padding: 5px 8px;
        border-radius: 30px;
        color: #F77575;
      }
      &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
      }
      &:focus{outline: 0px;}
    }
    padding: 5px 15px;
  }
}

.player{
  height: 400px;
  position: relative;
  #editor{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    z-index: 0;
  }
  .auto-play-loader-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    .auto-play-loader{
      padding: 20px;
      p{font-size: 30px;}
      .countdown{
        font-size: 20px;
        color: #FA5757;
      }
      button{
        border: none;
        background: black;
        color: #8C8A8A;
        font-size: 15px;
        margin: 10px;
        padding: 10px 15px;
        &:hover{
          color: #B7B6B6;
        }
        &:focus{outline: 0px;}
      }
    }
  }
  .play-list-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    visibility: hidden;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease;
    .wrapper{
      padding: 70px 15px 50px;
      height: 100%;
      position: relative;
      width: 100%;
      .pl-header{
        display: none;
        border-bottom: 1px solid #555555;
        background: rgba(0,0,0,0.1);
        top: 0;
        position: absolute;
        padding: 10px;
        height: 70px;
        width: 100%;
        left: 0;
        p{
          padding: 0px 5px;
          margin: auto;
          &.section-title-record{
            font-size: 18px;
            margin-bottom: 5px;
          }
          color: #D8D3D3;
          font-size: 16px;
          .counter{
            margin-top: 5px;
            font-size: 14px;
          }
        }
        .nav-button-pl{
          background: transparent;
          border: none;
          font-size: 15px;
          &:hover{color: white;}
          &:focus{outline: 0px;}
        }
      }

      .play-list{
        display: none;
        height: 100%;
        padding: 10px;
        overflow-y: scroll;
        .record-item-play-list{
          padding: 5px 10px;
          border-bottom: 1px solid #414141;
          display: flex;
          width: 100%;
          cursor: pointer;
          p{
            color: #A9A9A9;
            font-size: 14px;
            span{color:#FC4D4D; }
            flex: 1;
            margin: auto;
          };
          img{
            height: 60px;
            widht: 100px;
            vertical-align: middle;
            margin-right: 20px;
          }
          &:hover{
            p{
              color: #DCDCDC;
            }
          }
          &.active{
            background: #E68E8E;
            p{
              color: #5A5959;
            };
          }
        }
      }
      .pl-footer{
        display: none;
        border-top: 1px solid #555555;
        background: rgba(0,0,0,0.1);
        position: absolute;
        padding: 13px;
        height: 50px;
        width: 100%;
        bottom: 0;
        left: 0;
        color: #929191;
        .play-option{
          display: inline-block;
          margin-left: 10px;
          span{
            margin-right: 5px;
            vertical-align: text-bottom;
          }
        }
      }
    }

    &.active{
      visibility: visible;
      height: 100%;
      opacity: 1;
      background: #2A2A2A;
      transition: all 0.3s ease;
      .pl-header, .pl-footer, .play-list{
        display: block;
      }
    }
  }
  .touch-display-layer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .touch{
      cursor: pointer;
      height: 100%;
      position: relative;
      background: rgba(41, 44, 44, 0.2);
      padding-bottom: 40px;
      &.active{
        background: transparent;
      }
      .cover{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
          border: none;
          background: rgba(15, 13, 13, 0.6);
          border-radius: 50%;
          font-size: 20px;
          display: none;
          height: 70px;
          width: 70px;
          z-index: 100;
          color: rgba(226, 228, 228, 0.7);
          &:hover, &:focus{ outline: 0;}
          &.active{
            display: block;
            animation: twinkle 0.5s ease;
          }
        }
      }
      .player-actions-wrapper{
        position: absolute;
        bottom: 0;
        width: 100%;
        .player-actions{
          &.active{
            opacity: 1;
          }
          position: relative;
          padding: 10px;
          background: rgba(32, 32, 30, 0.5);
          opacity: 0;
          transition: opacity 0.5s ease;
          display: flex;
          /**TRACKS STYLES**/
          input{
            margin: 0px 5px;
            display: inline;
            cursor: pointer;
          }
          input[type=range] {
            background: transparent;
            -webkit-appearance: none;
            width: 100%;
            margin: 2.6px 0;
          }
          input[type=range]:focus {
            outline: none;
          }
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5.8px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
            background: rgba(193, 0, 0, 0.25);
            border-radius: 3.2px;
            border: 0px solid rgba(0, 1, 1, 0);
          }
          input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid rgba(218, 0, 0, 0.19);
            height: 11px;
            width: 11px;
            border-radius: 19px;
            background: rgba(255, 109, 111, 0.98);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -2.6px;
          }
          input[type=range]::-moz-range-track {
            width: 100%;
            height: 5.8px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
            background: rgba(193, 0, 0, 0.25);
            border-radius: 3.2px;
            border: 0px solid rgba(0, 1, 1, 0);
          }
          input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid rgba(218, 0, 0, 0.19);
            height: 11px;
            width: 11px;
            border-radius: 19px;
            background: rgba(255, 109, 111, 0.98);
            cursor: pointer;
          }
          input[type=range]::-ms-track {
            width: 100%;
            height: 5.8px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          input[type=range]::-ms-fill-lower {
            background: rgba(152, 0, 0, 0.25);
            border: 0px solid rgba(0, 1, 1, 0);
            border-radius: 6.4px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
          }
          input[type=range]::-ms-fill-upper {
            background: rgba(193, 0, 0, 0.25);
            border: 0px solid rgba(0, 1, 1, 0);
            border-radius: 6.4px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
          }
          input[type=range]::-ms-thumb {
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            border: 0px solid rgba(218, 0, 0, 0.19);
            height: 11px;
            width: 11px;
            border-radius: 19px;
            background: rgba(255, 109, 111, 0.98);
            cursor: pointer;
            height: 5.8px;
          }
          input[type=range]:focus::-ms-fill-lower {
            background: rgba(193, 0, 0, 0.25);
          }
          input[type=range]:focus::-ms-fill-upper {
            background: rgba(234, 0, 0, 0.25);
          }
          //**END TRACK STYLES**//

          #progress{
            flex: 1;
            &::-webkit-slider-thumb{background: transparent;}
            &::-webkit-slider-runnable-track {
              background: rgba(17, 17, 17, 0.7);
            }
          }
          #timer{
            font-size: 12px;
            margin-top: 2px;
          }
          #seeker{
            flex: 1;
            top: 12px;
            z-index: 2;
            opacity: 0;
            left: 35px;
            width: 72.5%;
            position: absolute;
            &::-webkit-slider-runnable-track {
              height: 10px
            }
          }
          #played-bar{
            position: absolute;
            background: #F25252;
            width: 0;
            top: 17px;
            height: 5.5px;
            z-index: 1;
            left: 30px;
            border-radius: 10px;
          }
          #volume{
            width: 10%;
            &::-webkit-slider-runnable-track {
              background: rgba(17, 17, 17, 0.7);
            }
          }
          .vol{
            width: 15px;
          }
          span{
            margin: 0px 5px;
            color: white
          }
          .playpaused{
            width: 15px;
          }
        }
      }
      &:hover{
        .player-actions{
          opacity: 1;
          transition: opacity 0.5s ease;
        }
      }
    }
  }
}

.onoffswitch {
  width: 36px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 21px; padding: 0; line-height: 12px;
  border: 0px solid #FFFFFF; border-radius: 20px;
  background-color: #9E9E9E;
  transition: all 0.3s ease-out;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 20px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  bottom: 5px;
  right: 17px;
  border-radius: 27px;
  transition: all 0.3s ease-out;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #43F78B;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #43F78B;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}


.time-mark-list{
  padding: 20px 15px;
  .time-mark-line{
    display: flex;
    .time-mark{
      display: inline-block;
      position: relative;
      background: #FE6B6B;
      padding: 5px 10px;
      border-radius: 15px;
      margin-right: 8px;
      color: #764949;
      i{
        height: 20px;
        width: 20px;
        background: white;
        text-align: center;
        padding-top: 2px;
        border-radius: 50%;
      }
      div{
        position: absolute;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 10px solid #FE6B6B;
        top: 6px;
        right: -7px;
      }
    }
    .line{
      flex: 1;
      height: 2px;
      background: #CBCBCB;
      margin-top: 15px;
    }
  }
}

@keyframes twinkle{
  50%  {opacity: 1;}
  100% {opacity: 0;
        transform: scale(2,2)
        }
}



@media (max-width: 990px){
  .player-wrapper {
    margin-top: 55px;
    transition: all 0.5s ease;
  }
}

@media(max-width: 600px){
  .player-wrapper{
    .box-options button{
      content: '';
    }
  }
}

@media (max-width: 450px){
  .player-wrapper{
    .creator-box{
      .username, .date, .info{
        display: block;
      }
    }
  }
}
